# Where user will input their own API keys so project will work for their
# machine

# Personal GitLab token - where assignments will be sent to
GITLAB_TOKEN:

# Project ID number, needed for when user wants to sync new problems in to database
# using 'insert_problems' file
GITLAB_PROJECT_ID:

# If user wants to use AI bot feature, needs to enter their own Claude API key
ANTHROPIC_API_KEY: